<%= form_for(@promotional_rule) do |f| %>
  <% if @promotional_rule.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(@promotional_rule.errors.count, "error") %> prohibited this promotional_rule from being saved:</h2>

      <ul>
      <% @promotional_rule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :product_id %>
    <%= f.select :product_id, options_from_collection_for_select(Product.all, "id", "name", @promotional_rule.product_id), {}, :class=>"form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :minimum_quantity %> 
    <%= f.select :quantity, options_for_select((0..10).to_a, @promotional_rule.quantity.to_i), {}, :class=>"form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :discount_percentage %> %
    <%= f.select :discount_percentage, options_for_select((0..100).to_a, @promotional_rule.discount_percentage.to_i), {},  {:class=>"form-control"}%>
  </div>
  <div class="form-group">
    <%= f.label :discounted_price %> £
    <%= f.text_field :discount_price, :class=>"form-control"%>
  </div>
  <div class="actions">
    <%= f.submit :class=>"btn btn-primary"%>
  </div>
<% end %>
