<%= form_for(@carts_product) do |f| %>
  <% if @carts_product.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(@carts_product.errors.count, "error") %> prohibited this carts_product from being saved:</h2>

      <ul>
      <% @carts_product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :product_id %><br>
    <%= @carts_product.product.name %>
  </div>
  <div class="form-group">
    <%= f.label :quantity %><br>
    <%= f.number_field :quantity %>
  </div>
  <div class="actions">
    <%= f.submit 'Update Quantity', :class=>"btn btn-primary"%>
  </div>
<% end %>
