<div class="panel panel-default">
  <div class="panel-heading">Listing Cart Products</div>
  <div class="panel-body">
    <table class="table table-condensed table-striped">
      <thead>
        <tr>
          <th>Code</th>
          <th>Product</th>
          <th>Price</th>
          <th>Quantity</th>
          <th class="currency-format">Total</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%cart_total = 0%>
        <% @carts_products.group_by(&:product).each do |product, carts_product| %>
        <% quantity = carts_product.sum(&:quantity)%>
        <% product_price = carts_product[0].get_discounted_product_price(quantity,product)%>
        <tr>
          <td><%= link_to product.code, product%></td>
          <td><%= link_to product.name, product%></td>
          <td><%= number_to_currency(product_price) %> | <small>Actual Price: <%=number_to_currency(product.price)%></small></td>
          <td><%=quantity%></td>
          <td class="currency-format">
            <%price_by_quantity = product_price * quantity%>
            <%cart_total += price_by_quantity%>
            <%=number_to_currency(price_by_quantity)%>
          </td>
          <td>
            <div class="pull-right">
              <%#= link_to 'Change quantity', edit_carts_product_path(carts_product), :class=>"btn btn-info btn-sm"%>
              <%= link_to 'Remove', carts_product.first, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn btn-danger btn-sm"%>
            </div>
          </td>
        </tr>
        <% end %>
        <tr>
          <td colspan="4"></td>
          <td class="currency-format"><b><%=number_to_currency(cart_total)%></b></td>
          <td> <div class="pull-right">Total </div></td>
        </tr>
        <tr>
          <td colspan="4"></td>
          <td class="currency-format"><b><%=number_to_currency(@cart.total_after_discount)%></b></td>
          <td>
            <div class="pull-right">Discount on total: <%=@cart.discount_percentage.round(2)%> % </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>