<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Quantity</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
    <tr>
      <td><%= link_to product.code, product %></td>
      <td><%= link_to product.name, product %></td>
      <td><%= product.description %></td>
      <td><%= number_to_currency(product.price) %></td>
      <td>
        <%= form_tag('/carts_products') do |f| %>
        <%= hidden_field_tag :product_id, product.id %>
        <%=select_tag :quantity, options_for_select((0..10).to_a, 1)%>
        <%= submit_tag  'Add to Basket', :class=>"btn btn-success btn-sm pull-right"%>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
